<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>bikreta bd অনলাইন শপিং মার্কেটপ্লেস 2022</title>
  <link rel="icon" href="/company_info/1655479544703.jpg" type="image/x-icon">
  <link href="/admin_login_asset/style.css" rel="stylesheet" />
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form action="/admin/login" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password" id="password" style="padding-right: 50px">
        <img src="https://pixlok.com/wp-content/uploads/2021/10/Eye-Icon-wsj93.png" alt="Girl in a jacket" class="eye"
          onclick="passwordshow()">

        <div class="select">
          <select name="panel_name">
            <option value="">Select Pancel</option>
            <option value="delivery">Delivery Man</option>
            <option value="admin">Admin</option>
          </select>
        </div>

        <%if(title){%>
          <button type="submit" name="button" class="btn login_btn">Login</button>
          <% } else { %>
            <a href="/admin" class="btn login_btn">Try</a>
            <% } %>
              <p class="message">Not registered? <a href="">
                  Create an account
                </a></p>
      </form>
    </div>
  </div>
  <!-- partial -->


  <script src="/admin_login_asset/script.js"></script>
  <script src="/admin_login_asset/jquery.min.js"></script>


  <script>
    function passwordshow() {

      var passwords = document.getElementById('password');
      if (passwords.type != "text") {
        document.getElementById('password').type = 'text';
      } else {
        document.getElementById('password').type = 'password';
      }
    }



    window.onload = () => {
      var deliver = '<%= deliver %>';
      var bas_url = '<%= bas_url %>';
      if (deliver) {
        location.replace(bas_url + "/desh_delivery")
      }
    };



  </script>




</body>

</html>