<!DOCTYPE html>
<html>
<head>
  <title>bikreta bd অনলাইন শপিং মার্কেটপ্লেস</title>
</head>
<body>


<div class="Shopingbd">Coming soon Bikretabd.com</div>



<!-- asdfasdf -->
<style>
	.Shopingbd{
		margin-top: 10%;
		color: green;
		font-size: 60px;
		text-align: center;
	}	
</style>

</body>
</html>