<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Admin_Delivery</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
		type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
	<link href="../delivery_dashboard/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../delivery_dashboard/plugins/node-waves/waves.css" rel="stylesheet" />
	<link href="../delivery_dashboard/plugins/animate-css/animate.css" rel="stylesheet" />
	<link href="../delivery_dashboard/plugins/morrisjs/morris.css" rel="stylesheet" />
	<link href="../delivery_dashboard/css/style.css" rel="stylesheet">
	<link href="../delivery_dashboard/css/themes/all-themes.css" rel="stylesheet" />
	<style>
		.sidebar_inactive {
			overflow-y: hidden;
			filter: grayscale(50%) blur(5px);
			pointer-events: none;
			position: fixed;
		}

		.content_inactive {
			overflow-y: hidden;
			filter: grayscale(50%) blur(5px);
			pointer-events: none;

		}
	</style>
</head>

<body class="theme-red">
	<!-- Page Loader -->
	<div class="page-loader-wrapper">
		<div class="loader">
			<div class="preloader">
				<div class="spinner-layer pl-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<p>Please wait...</p>
		</div>
	</div>
	

	<section>

		<!-- Left Sidebar -->
		<aside id="leftsidebar" class="sidebar <%= type != 'active' ? 'sidebar_inactive' : '' %>">
			<!-- User Info -->
			<div class="user-info">
				<div class="image">
					<img src="../delivery_dashboard/images/user.png" width="48" height="48" alt="User" />
				</div>
				<div class="info-container">
					<div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delivery_man
					</div>
					<div class="email">delivery_man@gmail.com</div>

				</div>
			</div>
			<!-- #User Info -->
			<!-- Menu -->
			<div class="menu">
				<ul class="list">
					<li class="header">MAIN List</li>
					<li class="active">
						<a href="">
							<i class="material-icons">home</i>
							<span>Home</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="material-icons">text_fields</i>
							<span>Typography</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="material-icons">layers</i>
							<span>Helper Classes</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="menu-toggle">
							<i class="material-icons">widgets</i>
							<span>Widgets</span>
						</a>
						<ul class="ml-menu">
							<li>
								<a href="javascript:void(0);" class="menu-toggle">
									<span>Cards</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0);" class="menu-toggle">
							<i class="material-icons">swap_calls</i>
							<span>User Interface (UI)</span>
						</a>
						<ul class="ml-menu">
							<li>
								<a href="">Alerts</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- #Menu -->

		</aside>
		
	</section>

	<!-- Jquery Core Js -->
	<script src="../delivery_dashboard/plugins/jquery/jquery.min.js"></script>
	<script src="../delivery_dashboard/plugins/bootstrap/js/bootstrap.js"></script>
	<script src="../delivery_dashboard/plugins/bootstrap-select/js/bootstrap-select.js"></script>
	<script src="../delivery_dashboard/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="../delivery_dashboard/plugins/node-waves/waves.js"></script>
	<script src="../delivery_dashboard/plugins/jquery-countto/jquery.countTo.js"></script>
	<script src="../delivery_dashboard/plugins/raphael/raphael.min.js"></script>
	<script src="../delivery_dashboard/plugins/morrisjs/morris.js"></script>
	<script src="../delivery_dashboard/plugins/chartjs/Chart.bundle.js"></script>
	<script src="../delivery_dashboard/plugins/flot-charts/jquery.flot.js"></script>
	<script src="../delivery_dashboard/plugins/flot-charts/jquery.flot.resize.js"></script>
	<script src="../delivery_dashboard/plugins/flot-charts/jquery.flot.pie.js"></script>
	<script src="../delivery_dashboard/plugins/flot-charts/jquery.flot.categories.js"></script>
	<script src="../delivery_dashboard/plugins/flot-charts/jquery.flot.time.js"></script>
	<script src="../delivery_dashboard/plugins/jquery-sparkline/jquery.sparkline.js"></script>
	<script src="../delivery_dashboard/js/admin.js"></script>
	<script src="../delivery_dashboard/js/pages/index.js"></script>
	<script src="../delivery_dashboard/js/demo.js"></script>
</body>

</html>